In [4]:
import pandas as pd
import numpy as np

# mh_wipro_ens_stratv1_1_tg15fv6_5_kflgs_4.csv	12/02/2022 23:00:26	ens_stratv1*1 tg15fv6*5 kflgs*4 (279,261,267)	251.21
# mh_lag_wipro_fork_v3_288kf_sub_v2.csv	12/02/2022 22:53:17	lag fts v2 (p -300, s~379)	267.49080
# mh_wipro_fork_tg15f_sub_new_v6.csv	09/02/2022 00:08:44	time g15f kv6 new	261.97831
# mh_lag_wipro_fork_kf_sub_stratv1.csv	06/02/2022 00:14:49	strat v3 last 279~ new target fts added	279




kv_1 = pd.read_csv('mh_wipro_fork_tg15f_sub_new_v6.csv') # 261.97831

kv_2 = pd.read_csv('mh_lag_wipro_fork_kf_sub_stratv1.csv') # 279.02962 strat fold

kv_6 = pd.read_csv('mh_lag_wipro_fork_v3_288kf_sub_v2.csv') #267.490 kfold with lags of target


kv_1.columns

Index(['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI'], dtype='object')

In [5]:
target = ['Clearsky DHI', 'Clearsky DNI', 'Clearsky GHI']

kv_2[target]

       Clearsky DHI  Clearsky DNI  Clearsky GHI
0          0.000000      0.000000      0.000000
1          0.000000      0.440529      0.000000
2          0.000000      0.425272      0.060248
3          0.000000      0.647038      0.000000
4          0.032634      0.043523      0.000000
...             ...           ...           ...
17515     49.278629    655.881286    185.096574
17516     35.371144    490.519876     94.865868
17517     13.966039    206.298385     21.541246
17518      0.211756      1.765942      0.000000
17519      0.273735      0.000000      0.000000

[17520 rows x 3 columns]

In [6]:
kv_1[target]

       Clearsky DHI  Clearsky DNI  Clearsky GHI
0          0.213082      0.000000      0.000000
1          0.162404      0.000000      0.000000
2          0.124666      0.000000      0.004497
3          0.117361      0.000000      0.000000
4          0.067636      0.027373      0.000000
...             ...           ...           ...
17515     51.324585    671.518160    186.860531
17516     38.413925    502.909748     91.448960
17517     12.294087    176.733771     21.644851
17518      0.121652      6.603341      0.541237
17519      0.115461      0.031606      0.001831

[17520 rows x 3 columns]

In [7]:

kv_1[target] = kv_1[target]*0.5+kv_2[target]*0.1+kv_6[target]*0.4

In [8]:
kv_1

       Clearsky DHI  Clearsky DNI  Clearsky GHI
0          0.229546      0.230145      0.000000
1          0.180958      0.044053      0.000000
2          0.122997      0.234511      0.008273
3          0.115323      0.113332      0.000000
4          0.087298      0.018794      0.017645
...             ...           ...           ...
17515     50.416121    673.682008    186.995789
17516     37.289183    506.241192     93.764514
17517     13.594439    189.647865     22.543843
17518      0.082002      6.937373      0.645525
17519      0.085104      2.188909      0.436123

[17520 rows x 3 columns]

In [75]:
kv_1.to_csv('mh_wipro_ens_stratv1_1_tg15fv6_5_kflgs_4.csv',index=False) # kv_1[target] = kv_1[target]*0.5+kv_2[target]*0.1+kv_6[target]*0.4 251